body { width: 21cm; margin: 0 auto; background-color: #fafafa; }

h1 { text-align: center; }

hr.separator { display: block; margin-top: 10px; border: 1px dashed #a2a2a2; }

/* navigation */

nav { margin-bottom: 24px; text-align: center; font-family: sans-serif;}
nav ul li { display: inline-block; margin: 0px 10px;}
nav ul li:first-child { margin-left: 0px;}
nav a { color: #727272; }
nav .selected a { color: black; text-decoration: none}




/* layout */

.row {    width:100%;    display: flex;}
.row.insert {    margin: 14px 0px;}
.row.insert:hover hr {    border-color: black;}

.left  {width: 25px; margin: 4px 4px; padding: 4px 4px; text-align: right; }
.mid   {  flex: 1;     margin: 4px;}
.right { width: 120px; margin: 0px 0px; padding-left: 10px;}

.entry {    background-color: white;}
.entry .right{    background-color: #fafafa;}

a.idref { color: #727272; text-decoration: none; font-family: sans-serif; font-size: 12px;}
a.idref:hover { text-decoration: underline; }




/* forms and buttons */

.index { font-family: sans-serif; }
.entry form { margin-top: -4px; }
.entry input[name=title] { margin-top: 3px;  font-size: 1em; border: 0; width: 90%;}
.entry input[name=priority] { width: 50px;}
.entry textarea {
    width: 99%;
    border: 0;
    resize: none;
    margin-bottom: 8px;
}
.entry textarea:focus { resize: vertical; }

.entry table { width: 100%; }
.entry .ref {
    width: 70px; position: relative; right: -6px; top: -4px;
    background-color: #fafafa; text-align: center; 
}

button { color: #727272; background-color: inherit; border: 0;}
button:hover        { color: black; }
button.remove:hover { color: red; }
button.delete:hover { color: red; }
div.deleteNote { text-align: right; font-style: italic; font-size: 0.8em; padding-right: 25px;}

/* removed view */

.removed span.title { display: inline-block; width: 14.5cm; }
.removed span.timestamp { color: #727272; text-decoration: none;
			  font-family: sans-serif; font-size: 12px;}
.removed #removedSeparator { margin: 10px 10px; text-align: center; font-style: italic; font-size: 0.8em;}
