body {
    min-width: 21cm;
    margin: 0 auto;
    max-width: 30cm;
}

h1 {
    text-align: center;
}

.task input[type=text] {
    width: 100%;
    border: 0;
}

.task textarea {
    width: 100%;
    border: 0;
    resize: none;
}

.row {
    width:100%;
    display: flex;
    margin: 10px;
}

.left {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.right {
    width: 200px;height: 100px; margin: 10px;
}

.mid {
    flex:1; height: 100px;margin: 10px;
}

.entry {
    padding-bottom: 1em;
}
.entry:hover {
    background-color: #fafafa;
}

/* entry tools */
input[type=submit] {
    filter: grayscale(1);
    opacity: 0.2;    
}

.entry:hover input[type=submit] {
    filter: grayscale(0);
    opacity: 1;
}

input.one-letter[type=submit] {
    float: right;
    margin-right: -2.7em;
    margin-top: -2em;
}
