body {
    min-width: 21cm;
    margin: 0 auto;
    max-width: 30cm;
}

h1 {
    text-align: center;
}

.change input[type=text] {
    width: 100%;
    border: 0;
}

.change textarea {
    width: 100%;
    border: 0;
    resize: none;
}

.row {
    width:100%;
    display: flex;
    margin: 10px;
}

.left {    
    width: 100px;
    margin-top: -20px;
}

.right {
    width: 30px;
    margin: 10px;
}

.mid {
    flex:1;
}

.entry {
    padding-bottom: 1em;
}


.entry input[name=priority] {
    width: 70px;
}


input[name=title] {
    margin-top: 3px;
    font-size: 1em;
}

input.delete {
    margin-left: 100px;
}

input.delete:hover {
    color: red;
}

input.insert {
    margin-bottom: 3px;
    padding: 0 0;
}
