[Unit]
Description=miniplan daemon script
After=auditd.service systemd-user-sessions.service time-sync.target

[Service]
User=gregory
TimeoutStartSec=0
Type=simple
KillMode=process
WorkingDirectory=/var/opt/miniplan
ExecStart=/home/gregory/bin/miniplan --log-file mini.log --plan-file index.json
Restart=always
LimitNOFILE=5555

[Install]
WantedBy=multi-user.target
