<!DOCTYPE html>
<html>
  
<head><title>miniplan</title>
  <link rel="stylesheet" type="text/css" href="/static/theme.css" />
</head>

<body id="body">

  <h1>Miniplan</h1>
  <nav>
    <ul>
      <li class="selected"><a id="nav1" href="/">Edit</a></li>
      <li><a id="nav2" href="{{.RemovedHref}}">Removed</a></li>
    </ul>
  </nav>

<div class="row">
  <div class="left"></div>
  <div class="mid">
    <form method="GET" id="tagFilters">
      {{range .Filters}}
      <input type="checkbox" name="filter" value="{{.Tag}}" {{if .Selected}}checked="checked"{{end}}> {{.Tag}}
      {{end}}
    </form>
  </div>
  <div class="right">
    <button type="submit" id="filterBtn" form="tagFilters">filter</button>
  </div>
</div>
  
  
{{range .Entries}}

<form method="POST" id="insertForm{{.Ref}}">
      <input type="hidden" name="submit" value="add">
      <input type="hidden" name="priority" value="{{.InsertPrio}}" >
</form>

<form method="POST" id="removeForm{{.Ref}}">
      <input type="hidden" name="uuid" value="{{.Ref}}">
      <input type="hidden" name=submit value=remove>
</form>

<div class="row insert">
  <div class="mid"><hr class="separator"></div>
  <div class="right">
      <button type="submit" id="insert{{.Index}}" form="insertForm{{.Ref}}">insert</button>
  </div>
</div>


<a name="{{.Ref}}"></a>
<div class="row entry {{.TagClassNames}}">

  <div class="left index">{{.Index}}. </div>

  <div class="mid entry">
    <form method="POST" id="f{{.Ref}}">
      <input type="hidden" name="uuid" value="{{.Ref}}">
      <input type="hidden" name="submit" value="update">      

      <table>
	<tr>
	  <td>
	    <input tabindex={{.NextTab}} placeholder="title" type="text" name="title" value="{{.Title}}" {{if .JustCreated}}id="justCreated" autofocus{{end}} >
	    {{if .JustCreated}}
	    <script>document.getElementById("justCreated").focus();</script>
	    {{end}}
	  </td>
	  <td class="ref">
	    <a href="#{{.Ref}}" class="idref">#{{.Ref}}</a>
	  </td>
	</tr>
      </table>
      <textarea tabindex={{.NextTab}} rows="{{.LineHeight}}" name="description">{{.Description}}</textarea>
    </form>
  </div>

  <div class="right">
    <input tabindex={{.NextTab}} type="number" min="0" name="priority" title="priority" value="{{.Priority}}" form="f{{.Ref}}"/>
    <br>
    <button type="submit" form="f{{.Ref}}" class="save">save</button><br>
    <button type="submit" form="removeForm{{.Ref}}" class="remove">remove</button>    
  </div>

</div>


</div>
{{end}}

<form method="POST" id="addForm">
  <input type="hidden" name="submit" value="add">
  <input type="hidden" name="priority" value="0" >
</form>

<div class="row insert">
  <div class="mid"><hr class="separator"></div>
  <div class="right">
    <button id="lastInsertButton" type="submit" form="addForm" class="insert">add</button>
  </div>
</div>

<script src="/static/enhance.js"></script>
<noscript>Enable javascript for enhanced experience</noscript>

<script>
  document.writeln("<pre id=\"enhanced\">");
  document.writeln("Shortcuts\n");
  document.writeln("  e : goto edit view");
  document.writeln("  r : goto removed view");
  document.writeln("  d : scroll to top");
  document.writeln("  f : scroll to bottom");
  document.writeln("  i : insert first entry");
  document.writeln("  a : add new entry");
  document.writeln("</pre>");
</script>

</body></html>
