<!DOCTYPE html>
<html>
  
<head><title>miniplan</title>
  <link rel="stylesheet" type="text/css" href="/static/theme.css" />
  <script src="/static/tools.js"></script>
</head>

<body id="body">

  <h1>Miniplan</h1>
  <nav>
    <ul>
      <li class="selected"><a href="/">Plan</a></li>
      <li><a href="{{.RemovedHref}}">Removed</a></li>
    </ul>
  </nav>

{{range .Changes}}

<form method="POST" id="insertForm{{.Ref}}">
      <input type="hidden" name="submit" value="add">
      <input type="hidden" name="priority" value="{{.InsertPrio}}" >
</form>

<form method="POST" id="removeForm{{.Ref}}">
      <input type="hidden" name="uuid" value="{{.Ref}}">
      <input type="hidden" name=submit value=remove>
</form>

<div class="row insert">
  <div class="mid"><hr class="separator"></div>
  <div class="right">
      <button type="submit" form="insertForm{{.Ref}}">insert</button>    
  </div>
</div>


<a name="{{.Ref}}"></a>
<div class="row entry">

  <div class="left index">{{.Index}}. </div>

  <div class="mid entry">
    <form method="POST" id="f{{.Ref}}">
      <input type="hidden" name="uuid" value="{{.Ref}}">
      <input type="hidden" name="submit" value="update">      

      <table>
	<tr>
	  <td>
	    <input tabindex={{.NextTab}} placeholder="title" type="text" name="title" value="{{.Title}}" {{if .JustCreated}}id="justCreated" autofocus{{end}} >
	    {{if .JustCreated}}
	    <script>document.getElementById("justCreated").focus();</script>
	    {{end}}
	  </td>
	  <td class="ref">
	    <a href="#{{.Ref}}" class="idref">#{{.Ref}}</a>
	  </td>
	</tr>
      </table>
      <textarea tabindex={{.NextTab}} rows="{{.LineHeight}}" name="description">{{.Description}}</textarea>
    </form>
  </div>

  <div class="right">
    <input tabindex={{.NextTab}} type="number" min="0" name="priority" title="priority" value="{{.Priority}}" form="f{{.Ref}}"/>
    <br>
    <button type="submit" form="f{{.Ref}}" class="save">save</button><br>
    <button type="submit" form="removeForm{{.Ref}}" class="remove">remove</button>    
  </div>

</div>


</div>
{{end}}

<form method="POST" id="lastInsertForm">
  <input type="hidden" name="submit" value="add">
  <input type="hidden" name="priority" value="0" >
</form>

<div class="row insert">
  <div class="mid"><hr class="separator"></div>
  <div class="right">
    <button type="submit" form="lastInsertForm" class="insert">insert</button>
  </div>
</div>

</body></html>
